<p class="pointer "><svg id="enterDoor" class="large-icon" viewBox="0 0 450 512" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M315 60H71V452H315C323.284 452 330 445.284 330 437V75C330 66.716 323.284 60 315 60Z" fill="url(#paint0_linear)"/>
    <path d="M435 211H360V196C360 190.468 356.955 185.385 352.078 182.775C347.2 180.165 341.282 180.451 336.68 183.519L246.68 243.519C242.507 246.301 240 250.985 240 256C240 261.015 242.506 265.699 246.68 268.481L336.68 328.481C341.294 331.557 347.214 331.829 352.078 329.225C356.955 326.615 360 321.532 360 316V301H435C443.284 301 450 294.284 450 286V226C450 217.716 443.284 211 435 211ZM203.771 2.83201C199.86 0.0120096 194.832 -0.754991 190.257 0.770009L10.257 60.77C4.132 62.812 0 68.544 0 75V437C0 443.457 4.131 449.188 10.257 451.23L190.257 511.23C194.871 512.769 199.897 511.961 203.771 509.168C207.682 506.35 210 501.822 210 497V15C210 10.179 207.682 5.65101 203.771 2.83201ZM135 271C126.716 271 120 264.284 120 256C120 247.716 126.716 241 135 241C143.284 241 150 247.716 150 256C150 264.284 143.284 271 135 271Z" fill="url(#paint1_linear)"/>
    <defs>
    <linearGradient id="paint0_linear" x1="200.5" y1="452" x2="200.5" y2="60" gradientUnits="userSpaceOnUse">
    <stop stop-color="#4CAF50" offset="0" />
    <stop offset="0.0001" stop-color="#F8F9F8"/>
    <stop offset="0.9999" stop-color="white"/>
    </linearGradient>
    <linearGradient id="paint1_linear" x1="225" y1="512" x2="225" y2="3.05176e-05" gradientUnits="userSpaceOnUse">
    <stop offset="0.9996" stop-color="#4CAF50"/>
    <stop offset="0.9997" stop-color="#4CAF50"/>
    <stop offset="0.9998" stop-color="#5BFF95"/>
    <stop offset="0.9999" stop-color="#4CAF50"/>
    </linearGradient>
    </defs>
    </svg>
    
    </p>