<section  class=" d-flex flex-column justify-content-center align-items-center" style="width: 100%; height: 100vh;">
    <h1 class="text-center my-4 px-3">Ops... Looks like somthing with your request went wrong!</h1>

    <div class="text-center d-flex flex-column px-3">
    <a href="/authorize">Press here to login</a>
    <a class="mt-2" href="/">Press here to go back to our start page</a>
    </div>
</section>