<main style="min-height: 100vh;" class="container-fluid flex-column text-center d-flex justify-content-center align-items-center ">

    <div class="row">
        <header class="col-12">
            <%- include('includes/spotifyLogoSvg')  %> 
            <h1 class="my-3 pl-1 pr-1 px-md-5">Welcome to Spotify music memory!</h1>
            <h5 class="font-italic">Discover new music while having fun with your friends!</h3>
            <h4 class="my-5">Please login to start playing!</h4>
        <%- include('includes/door') %> 
        <p class="my-3">Press the door to login</p>
        </header>
    </div>
 

</main>